In [1]:
import pandas as pd

In [2]:
import numpy as np
import matplotlib.pyplot as plt

# Importar dados do covid em portugal

In [3]:
path = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv'

# Criar uma data frame

In [4]:
df = pd.read_csv(path)

In [5]:
df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,70,75,82,114,147,177,212,272,322,411
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,639,701,773,839,825,878,889,924,963,1007
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,178,200,212,226,243,266,313,345,385,432
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,149,197,238,428,566,673,790,900,1030,1183

In [6]:
from sklearn.linear_model import LinearRegression

In [7]:
portugal = df.iloc[59] # Selecionar portugal nas linhas

In [8]:
portugal.head()

Province/State         NaN
Country/Region    Portugal
Lat                39.3999
Long               -8.2245
1/22/20                  0
Name: 59, dtype: object

In [9]:
casos_pt = portugal.iloc[4:] # Selecionar colunas com os dias e o nr de casos

In [10]:
dfcasospt =  pd.DataFrame.from_dict(casos_pt) # converter var tipo dicionário em dataframe

In [11]:
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [12]:
sns.set(color_codes=True)

In [13]:
dfcasospt.rename(columns={59:'Casos'},inplace=True) # mudar nome da coluna para casos

In [14]:
actual = dfcasospt[39:] # selecionar a partir do dia em que há casos em portugal

In [15]:
vartrabalho = actual.set_axis(['Casos'], axis=1, inplace=False)# mudar nome da coluna para casos

In [16]:
xyz = vartrabalho.T # usar a função transpose para trocar linhas por colunas

In [17]:
vartrabalho.index.name = 'Data'

In [18]:
vartrabalho

        Casos
Data
3/1/20      0
3/2/20      2
3/3/20      2
3/4/20      5
3/5/20      8
3/6/20     13
3/7/20     20
3/8/20     30
3/9/20     30
3/10/20    41
3/11/20    59
3/12/20    59
3/13/20   112
3/14/20   169
3/15/20   245
3/16/20   331
3/17/20   448
3/18/20   448
3/19/20   785
3/20/20  1020
3/21/20  1280

# Adicionar um index numérico para fazer regressão linear